* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header-area {
    width: 100%;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
}

.header-text {
    width: 30%;
    padding: 215px 225px;
}

.header-text h1 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
}

.header-text p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}

.btn-primary {
    padding: 18px 22px;
    border: 0;
    border-radius: 5px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

.previous-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    text-align: start;
    padding: 130px 322px;
}

.previous-text h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.previous-text p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}

.my-plans-area {
    text-align: center;
    margin-bottom: 135px;
}

.my-plans-area h2 {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.plans {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.plans-img h4 {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.plans-img p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.calls-area {
    width: 80%;
    background-image: url('../images/watch.png'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    height: 50vh;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 100px;
}
.calls-text {
    width: 40%;
    padding: 150px 76px;
}
.calls-text h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}